vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Jan 2015 16:08:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ECET\\student
vti_modifiedby:SR|ECET\\student
vti_timecreated:TR|15 Jan 2015 16:04:20 -0000
vti_backlinkinfo:VX|Code/default.html
vti_nexttolasttimemodified:TW|15 Jan 2015 16:08:02 -0000
vti_cacheddtm:TX|15 Jan 2015 16:08:45 -0000
vti_filesize:IR|899
vti_cachedlinkinfo:VX|S|http://goo.gl/04j7Nn
vti_cachedsvcrellinks:VX|NSHS|http://goo.gl/04j7Nn
